html {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	font-family: Courier, Sans, sans-serif;
}

body {
	margin: 0 auto;
	width: 1028px;
}

a, a:visited {
	color: #88d2fb;
}

a:hover, .button-toggle:hover, code:hover {
	color: #ed88fb !important;
}

a.link-home {
	text-decoration: none;
}

a.link-home:not(:hover) {
	color: #fff;
}

.buttons-control {
	margin: 3px 0;
}

.buttons-control > button {
	display: inline-block;
	min-width: 50px;
	font-family: Courier, Sans, sans-serif;
	margin-right: 3px;
}

/*
.buttons-control > button, #samplerate-change {
	border-radius: 5px;
	border: none;
	padding: 4px 2px;
	margin: 0 1px;
}

.buttons-control > button[disabled] {
	opacity: 0.6;
}
*/

.button-toggle {
	cursor: pointer;
	font-weight: bold;
	margin: 5px 0;
}

#canvas-container {
	position: relative;
	width: 1028px;
	height: 258px;
	cursor: pointer;
}

#canvas-container:hover > #canvas-toggleplay::after {
	display: block;
}

#canvas-container:hover > #canvas-toggleplay.canvas-toggleplay-show::after {
	background-color: rgba(0, 180, 255, 0.5);
}

#canvas-main {
	width: 1024px;
	height: 256px;
	border: 2px solid #fcc33d;
}

#canvas-timecursor {
	display: none;
	top: 0;
	bottom: 0;
	border-left: 2px solid red;
	position: absolute;
	left: 0;
}

#canvas-toggleplay::after {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWCAQAAACMYb/JAAAArklEQVR4AYXSr05CYRjA4cPGxjRosTijdvNJzmD1CrwAvQWugASNwGg0MoErOIVCPCMx0hmBMaAA4mPX8/2rT/i+9/1lPu0M3MtCN1OAvS+NEFkDmHqoJwcAbHzUkb9n7C5FqLynCAzdpAhLrynCRc9VnEDpKUWYpUmZIlt5nBQeY889amvGPj33HBvdt45WbAELeWyNP/qu/8dwBrDyVp9UBRi5DYXZdTLxEs77F5bCVAHlDJ1UAAAAAElFTkSuQmCC");
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 16px 30px;
	margin: -22px 0 0 -32px;
	background-color: rgba(0, 180, 255, 0.5);
	border-radius: 16px;
	line-height: 0;
}

#canvas-toggleplay.canvas-toggleplay-show::after {
	display: block;
	background-color: rgba(0, 180, 255, 0.4);
}

#canvas-toggleplay.canvas-toggleplay-stop::after {
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAWAQMAAAAcpuUBAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABBJREFUCNdjgAE7O6pgGAAAhGMIudWId/YAAAAASUVORK5CYII=");
}

code {
	color: #ffcc53;
	word-wrap: break-word;
	cursor: pointer;
}

.codelength {
	color: grey;
	cursor: default;
}

.code-load {
	cursor: pointer;
}

.container-scroll {
	overflow-y: auto;
}

#control-counter {
	font-size: 15px;
	cursor: pointer;
}

#control-volume {
	-webkit-appearance: none;
	background-color: #959595;
	height: 10px;
	width: 200px;
	border-radius: 15px;
	padding: 0 3px;
	margin-bottom: -1px;
}

#error {
	color: #f92672;
}

#input-code {
	font: 14px/14px Monospace;
	color: #fff;
	background: #000;
	border: 2px solid white;
	height: 196px;
	padding: 0 5px;
	width: 1014px;
	overflow-y: auto;
	word-wrap: break-word;
	outline: none;
}

li {
	padding-bottom: 7px;
}

.middle {
	margin-top: 2px;
}

.paragraph {
	margin: 0 0 8px 8px;
	max-height: 999999px;
	font-size: 12px;
}

.samplerate {
	font-size: 11px;
	color: #47d738;
	cursor: default;
}

select {
	vertical-align: -2px;
}

.star-white::after, .star-yellow::after {
	content: "\2605";
	display: inline-block;
	margin-top: -3px;
}

.star-yellow::after {
	color: yellow;
}

ul {
	padding: 0 0 0 12px;
	margin: 0;
}

/* ==[ Mobile devices ]==================================================================================== */

@media (max-width: 1080px) {
	body {
		font-size: 1.7rem;
	}

	.buttons-control > button {
		width: 96px;
	}
	
	.buttons-control > button, #samplerate-change {
		font-size: 2.2rem;
	}
	
	#control-counter {
		font-size: 1.7rem;
	}

	#input-code {
		font-size: 0.7rem;
		height: 370px;
	}

	.paragraph {
		font-size: 1.6rem;
	}

	.samplerate {
		font-size: 18px;
	}
}
